flask-restplus==0.13
Flask-SQLAlchemy==2.4.1
neo4jrestclient==2.1.1
base36==0.1.1
flask==1.1.1
Werkzeug==0.16.0
psycopg2==2.8.4
orcid==1.0.3
Jinja2==3.0.3
itsdangerous==2.0.1
pandas
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability